<section>
  <mat-toolbar class="flex-space-between" color="primary">
      <span>Pokedex</span>
      <div>
        <button mat-icon-button aria-label="Login Icon">
          <mat-icon>login</mat-icon>
        </button>
        <button mat-icon-button aria-label="Menu icon">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
  </mat-toolbar>
</section>
<div class="header-grid bg-secondary">
  <section>
    <form class="header-form pl-2 pt-2">
      <div class="flex">
        <mat-form-field color="accent" class="header-search" appearance="fill">
          <mat-label  >Name or Number</mat-label>
          <input matInput placeholder="Bulbazor or 001">
        </mat-form-field>
        <div class="search-icon">
          <mat-icon aria-hidden="false" aria-label="search icon">search</mat-icon>
        </div>
      </div>
    </form>
  </section>
  <section class="p-1">
    <p class="m-1 p-1 bg-green">Search for a Pokémon by name or its national pokemon Number </p>
  </section>
</div>
<router-outlet></router-outlet>
